#site-name {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

.cp-logo {
    height: 50px !important;
    /* width: 60px; */
}


#header {
    background-color: #a11c36 !important;
    color: #fff !important;
}

.theme-toggle {
    display: none;
}

caption {
    background-color: #a11c36 !important;
    color: #fff !important;
}

.breadcrumbs {
    background-color: #a11c36 !important;
    color: #fff !important;
}

.Breadcrumbs {
    border-top: #fff;
}